In [1]:
import pandas as pd

df = pd.read_excel("./report_excels/sales_apr.xlsx")

In [4]:
print(df)

    OrderID       Date   Customer Region   Product  Quantity  UnitPrice
0      4001 2024-04-28  Gamma Inc  North  Widget C        23         25
1      4002 2024-04-13   Beta Ltd  North  Widget A        15         25
2      4003 2024-04-07  Gamma Inc   West  Widget C        24         40
3      4004 2024-04-25   Delta BV  South  Widget B        19         15
4      4005 2024-04-04   Delta BV   East  Widget A         8         40
5      4006 2024-04-25  Gamma Inc  North  Widget C        18         15
6      4007 2024-04-13   Delta BV  North  Widget B        19         40
7      4008 2024-04-07   Delta BV  North  Widget B         5         15
8      4009 2024-04-01  Acme Corp   East  Widget C        21         25
9      4010 2024-04-16  Gamma Inc  South  Widget B        21         15
10     4011 2024-04-10  Gamma Inc   East  Widget A        17         15
11     4012 2024-04-28   Delta BV   East  Widget A        22         40
12     4013 2024-04-13  Gamma Inc  North  Widget C        23         15
13     4014 2024-04-16  Gamma Inc   West  Widget C         8         15
14     4015 2024-04-13   Delta BV   East  Widget C        10         15
15     4016 2024-04-13  Acme Corp   West  Widget C        14         40
16     4017 2024-04-07   Delta BV  North  Widget C        16         40
17     4018 2024-04-19   Beta Ltd   East  Widget A        23         25
18     4019 2024-04-25   Beta Ltd   East  Widget C        13         40
19     4020 2024-04-25  Acme Corp   West  Widget A        24         15

In [4]:
df[(df["Customer"] == "Gamma Inc") & (df["Region"] == "North") ]

    OrderID       Date   Customer Region   Product  Quantity  UnitPrice
0      4001 2024-04-28  Gamma Inc  North  Widget C        23         25
5      4006 2024-04-25  Gamma Inc  North  Widget C        18         15
12     4013 2024-04-13  Gamma Inc  North  Widget C        23         15